:root {
    --institutional-green: #2e7d32; /* verde institucional */
    --off-white: #eeecec;
    --ok-green: #69ff69;
    --problem-red: #ff6969;
    --warning-yelow: #ffea2f;
    --late-blue: #3db8ff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 62.5%;
}

body{
    opacity: 0;
    transition: opacity 0.25s ease;
}

.indexMain {
    min-height: 100dvh;
    background: url("../assets/escudo.png");
    background-size: clamp(200px, 50vw, 500px);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#login{
    width: clamp(250px, 50vw, 400px);;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(8px);
    padding: 24px;
    animation: aparecer 0.6s ease;
}
@keyframes aparecer {
  from {
    opacity: 0;
    transform: translateY(20px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
#login input{
    width: 100%;
    padding: 10px 12px;
    margin-top: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1.4rem;
}
#login input[type="button"] {
  margin-top: 16px;
  background: var(--institutional-green);
  color: white;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

#login input[type="button"]:hover {
  transform: translateY(-1px);
  box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}
#login h1 {
  font-size: 2.4rem;
  margin-bottom: 12px;
  text-align: center;
}
#loginBody{
    min-height: 100dvh;
}
#loginHeader{
    width: 100vw;
    position: absolute;
}
header h1{
    font-size: 2.6rem;
}

header h2{
    font-size: 2.0rem;
}

.app {
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

header {
    padding: 16px;
    background: var(--institutional-green);
    background: linear-gradient(135deg,rgba(46, 125, 50, 1) 0%, rgba(0, 255, 0, 1) 100%);
    color: white;
    text-align: center;
}

#acciones {
  display: flex;
  gap: 12px;
  padding: 12px;
  background: var(--off-white);
  justify-content: center;
}

#allPresent {
    background-color: var(--ok-green);
}

#allAbsent {
    background-color: var(--problem-red);
}

#acciones button {
  flex: 1;
  border: None;
}
.app main{
    flex: 1;
    overflow-y: auto;
}
#lista {
  padding: 12px;
  background: white;
  font-size: 1.6rem;
  max-width: 800px;
  margin: auto;
}
.fila:first-child {
    padding-top: 0;
}
.fila {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 6px;
  border-bottom: 1px solid #e0e0e0;
}

.nombre {
  font-size: 1.6rem;
}

.estado {
  padding: 4px 10px;
  border-radius: 12px;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  width: 80px;
  text-align: center;
  transition: 0.2s;
}

.estado:hover{
    transform: translateY(-1px);
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}

.presente {
    background-color: var(--ok-green);
}

.ausente {
    background-color: var(--problem-red);
}

.tarde {
    background-color: var(--warning-yelow);
}

.excusa {
    background-color: var(--late-blue);
}

footer {
  padding: 12px;
  background-color: var(--institutional-green);
}

.attendanceButton {
    font-size: 1.6rem;
    max-width: 180px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.attendanceButton:hover {
  transform: translateY(-1px);
  box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}

.guardar {
    background-color: var(--late-blue);
}
 .sectionTitle {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 24px 16px;
  color: #444;
  font-size: 1.6rem;
  font-weight: 600;
}

.sectionTitle::before,
.sectionTitle::after {
  content: '';
  flex: 1;
  height: 1px;
  background: #ccc;
}

.cardContainer{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin-bottom: 10px;
    max-width: 800px;
    margin: auto;
}
.card{
    min-width: 150px;
    margin: 5px;
    padding: 10px;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.12);
    border-radius: 10px;
}

.classInfo {
    font-size: 1.4rem;
}

.goAttendance {
  margin-top: 8px;
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 8px;
  background: var(--institutional-green);
  color: white;
  font-size: 1.4rem;
  cursor: pointer;
  transition: 0.2s;
}

.goAttendance:hover{
    transform: translateY(-1px);
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}