:root {
    --institutional-green: #2e7d32; /* verde institucional */
    --off-white: #f5f5f5;
    --ok-green: #69ff69;
    --problem-red: #ff6969;
    --warning-yelow: #ffea2f;
    --late-blue: #3db8ff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 62.5%;
}

header h1{
    font-size: 2.6rem;
}

header h2{
    font-size: 2.0rem;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  padding: 16px;
  background:  var(--institutional-green);
  color: white;
  text-align: center;
}

#acciones {
  display: flex;
  gap: 12px;
  padding: 12px;
  background: var(--off-white);
  justify-content: center;
}

#allPresent {
    background-color: var(--ok-green);
}

#allAbsent {
    background-color: var(--problem-red);
}

#acciones button {
  flex: 1;
  border: None;
}

#lista {
  flex: 1;
  overflow-y: auto;
  padding: 12px;
  background: white;
  font-size: 1.6rem;
}
.fila:first-child {
    padding-top: 0;
}
.fila {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 6px;
  border-bottom: 1px solid #e0e0e0;
}

.nombre {
  font-size: 1.6rem;
}

.estado {
  padding: 4px 10px;
  border-radius: 12px;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  width: 80px;
  text-align: center;
  box-shadow: 2px 2px 6px;
}

.presente {
    background-color: var(--ok-green);
}

.ausente {
    background-color: var(--problem-red);
}

.tarde {
    background-color: var(--warning-yelow);
}

.excusa {
    background-color: var(--late-blue);
}

footer {
  padding: 12px;
  background-color: var(--institutional-green);
}

.attendanceButton {
    font-size: 1.6rem;
    max-width: 180px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 6px;
}

.guardar {
    background-color: var(--late-blue);
}